<div class="row">

    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
        <button class="btn btn-primary" (click)="new = true; newBook()">New Book</button>
        <clr-datagrid>

            <clr-dg-column>Book Id</clr-dg-column>
            <clr-dg-column>Book Name</clr-dg-column>
            <clr-dg-column>Author</clr-dg-column>
            <!-- onDelete(user) -->
            <clr-dg-row *ngFor="let book of books">
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="edit = true; bookSelected(book)">Edit</button>
                    <button class="action-item" (click)="delete = true; bookSelected(book)">Delete</button>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{book.id}}</clr-dg-cell>
                <clr-dg-cell>{{book.name}}</clr-dg-cell>
                <clr-dg-cell>{{book.author.name}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{books.length}} books</clr-dg-footer>
        </clr-datagrid>
    </div>
</div>

<clr-modal [(clrModalOpen)]="edit" *ngIf="selected != null">
    <!-- <h3 class="modal-title">Edit book information</h3> -->
    <div class="modal-body">
        <form>
            <section class="form-block">
                <label>Edit book information</label>
                <div class="form-group">
                    <label for="book_name">Book Name</label>
                    <input type="text" id="book_name" name="book_name" [(ngModel)]="selected.name" placeholder="{{selected.name}}" size="45">
                </div>
                <div class="form-group">
                    <label for="author_name">Author</label>
                    <input type="text" id="author_name" [(ngModel)]="selected.author.name" name="author_name" placeholder="{{selected.author.name}}"
                        size="45">
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="edit = false;selected = null">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="edit = false;updateSelected(selected)">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="delete">
    <h3 class="modal-title">Delete</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="delete = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="delete = false;deleteSelected(selected);">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="new" *ngIf="selected != null">
    <!-- <h3 class="modal-title">Edit book information</h3> -->
    <div class="modal-body">
        <form>
            <section class="form-block">
                <label>New book information</label>
                <div class="form-group">
                    <label for="book_name">Book Name</label>
                    <input type="text" id="book_name" name="book_name" [(ngModel)]="selected.name" size="45">
                </div>
                <div class="form-group">
                    <label for="author_name">Author</label>
                    <input type="text" id="author_name" [(ngModel)]="selected.author.name" name="author_name" size="45">
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="new = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="new = false;saveBook(selected);">Ok</button>
    </div>
</clr-modal>



<clr-modal [(clrModalOpen)]="status" [clrModalSize]="'sm'">
    <h3 class=" modal-title"></h3>
    <div class="modal-body">
        Removed Successfully
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="status = false;getBooks()">Ok</button>
        </div>
    </div>

</clr-modal>



<!-- Added editable list to demonstrate doing an HTTP PUT -->